  /* Test button styles to put into the Button component */
 .button {
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
 }
 .button:hover {
  filter: brightness(0.85);
  /* I'll need to import the base color into the module file and use the darken(color, percentage) method to change the 
  background and border colors here */
 }
 .button:focus {
  border: 4px solid white;
  filter: brightness(0.85);
 }